* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  height: 100vh;
}

.video-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.video {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-top: 2px solid #222;
}

.btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: #00bcd4;
}

.progress {
  flex: 1;
  margin: 0 10px;
  cursor: pointer;
}

.volume {
  width: 100px;
  cursor: pointer;
}
